# Directories
/.wordpress-org export-ignore
/.github export-ignore
/.vscode export-ignore
/develop export-ignore
/node_modules export-ignore
/vendor export-ignore
/assets-branch export-ignore
/.git export-ignore

# Files
/.gitattributes export-ignore
/.gitignore export-ignore
/build.js export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/psalm.xml export-ignore
/README.md export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/.editorconfig export-ignore
/.eslint* export-ignore
/phpcs.xml export-ignore